html{background-color: #b8b9b9;}
body{max-width:720px;margin:0 auto;background: #eee;border-radius: 8px;}
input,select{line-height: 1.5em;}
input[type="submit"],input[type="reset"]{
font-size: 14px;
padding: .2em .75em;
display: inline-block;
position: relative;
margin-left: auto;
margin-right: auto;
box-sizing: border-box;
border-width:0;
border-radius: 5px;
}
input[type="submit"]{
color: #fff;
background-color: #04be02;
overflow: hidden;
}
.button{
	color: #fff;
	display: inline-block;
	height: 1.5em;
	background-color: #04be02;
	border-radius: 5px;
	padding: .1em .75em;
}
input[type="submit"]:active,.button:active{
	background-color: #069705;
	border-width:0;
}
input[type="reset"]{
color: #222;
background-color: #eee;
-webkit-tap-highlight-color: rgba(240,240,240,0);
overflow: hidden;
}
textarea {
margin:4px 3px;
padding:3px;
border-radius: 5px;
width: 99%;
height: 100px;
border: 1px solid #888;
font-size: 1em;
line-height: inherit;
outline: 0;
}

.like {
    padding: 3px;
    color: #000000;
    font-size: 18px;
    background-color: #00BFFF;
    border-bottom: 3px solid #1E90FF;
}

.love {
    padding: 2px;
    color: #000000;
    /**/word-wrap: break-word;
    border-left: 1px solid #B0E0B6;
    border-right: 1px solid #B0E0B6;
    border-bottom: 1px dotted #6495ED;
}
pre{
	background-color: #000 !important;
	word-break: normal !important;
	white-space: nowrap;
	overflow-x:scroll;
}
pre li{
	color:#eee;
}
.error {
    color: red;
    padding: 2px;
    word-wrap: break-word;
    border: 1px solid red;
}

#header {
    padding: 4px;
    color: #000000;
    font-size: 18px;
    background-color: #3CB369;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    border-bottom: 3px solid #008080;
}

#footer {
    padding: 4px;
    color: #000000;
    font-size: 18px;
    background-color: #3CB369;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    border-bottom: 3px solid #008080;
}

#footer a:link {
    color: #000000;
    text-decoration: none;
}

#footer a:visited {
    color: #000000;
    text-decoration: none;
}

/* 代码高亮 start */
.post pre/*,.prettyprint,pre.prettyprint */{
	word-wrap: normal;
    background-color: #272822;
    border: 1px solid #272822;
    overflow: hidden;
    padding: 8px;
    font-family: Monaco,Consolas,"Andale Mono","DejaVu Sans Mono",monospace; 
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    white-space:normal;
}
.post pre/*,.prettyprint.linenums,pre.prettyprint.linenums */{
    -webkit-box-shadow: inset 40px 0 0 #39382E, inset 41px 0 0 #464741;
    -moz-box-shadow: inset 40px 0 0 #39382E, inset 41px 0 0 #464741;
    box-shadow: inset 40px 0 0 #39382E, inset 41px 0 0 #464741;
}
.post pre ol/*,.prettyprint.linenums ol,pre.prettyprint.linenums ol*/ {
    margin: 0 0 0 35px; 
}
.post pre ol li/*,.prettyprint.linenums ol li,pre.prettyprint.linenums ol li*/ {
    padding-left: 10px;
    color: #bebec5;
    line-height: 24px;
    font-size: 14px;
    list-style: decimal;
    text-shadow: 0 1px 0 #000;
    margin-left: 0;
}
.prettyprint .com { color: #93a1a1; }
.prettyprint .lit { color: #AE81FF; }
.prettyprint .pun,
.prettyprint .opn, 
.prettyprint .clo { color: #F8F8F2; }
.prettyprint .fun { color: #dc322f; }
.prettyprint .str, 
.prettyprint .atv { color: #E6DB74; }
.prettyprint .kwd, 
.prettyprint .tag { color: #F92659; }
.prettyprint .typ, 
.prettyprint .atn, 
.prettyprint .dec, 
.prettyprint .var { color: #A6E22E; }
.prettyprint .pln { color: #66D9EF; }

/* 代码高亮 end */